@media (min-width: 768px) {

  nav {
    display: flex;
    justify-content: center;
  }

  nav a {
    display: inline-block;
  }

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  header {
    justify-content: center;
  }
}
