@media (min-width: 768px) {

  #menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  header {
    justify-content: center;
  }

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .hero {
    grid-column: 1 / -1;
  }

  .spotlights {
    grid-column: 1 / -1;
  }

  #spotlight-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
